<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.min.css}"/>
</head>
<body>
<a th:href="@{/index}">Retour</a>
<br>
<h1 class="is-size-2">La liste des équipes</h1>
<br>
<br>
<div class="columns" th:if="${equipes.size} > 0">
    <div class="column">

    </div>
    <div class="column">
        <div th:each="equipe: ${equipes}">
            <div class="card" style="margin-bottom: 10px">
                <div class="card-header">
                    <p class="card-header-title" th:text="${equipe.nom}">
                    </p>
                </div>
                <div class="card-content">
                    <div class="content" th:text="${equipe.pays}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">

    </div>
</div>

<div class="columns" th:if="${equipes.size} == 0">
    <div class="message is-danger">
        <div class="message-header">
            <p>Erreur</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
            <p>
                Aucune equipe n'est trouvée dans le système
            </p>
        </div>
    </div>
</div>
</body>

</html>