<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.min.css}"/>
</head>
<body>
    <a th:href="@{/index}">Retour</a>
    <br>
    <h1 class="is-size-2">Ajouter une équipes</h1>
    <br>
    <br>
    <div class="container">
        <form action="#" th:action="@{/ajouter_equipe}" th:object="${equipe}" method="post">
            <div class="field">
                <label class="label">Nom</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Nom de l'équipe" th:field="*{nom}">
                </div>
            </div>

            <div class="field">
                <label class="label">Pays</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Pays de l'équipe" th:field="*{pays}">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Ajouter</button>
                </div>
                <div class="control">
                    <a class="button is-link is-light" th:href="@{/index}">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>