<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.min.css}"/>
</head>
<body>
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/equipes}">
                Lister les équipes
            </a>

            <a class="navbar-item" th:href="@{/ajouter_equipe}">
                Ajouter une équipes
            </a>
        </div>
    </div>
</nav>

    <h1 class="is-size-1">Cours <span th:text="${language_prog}"></span> Web!</h1>
    <h2 class="is-size-4" th:text="${message_bienvenue}"></h2>

</body>

</html>